:root {
    /* general головне */
    --header-background-color: rgb(241, 243, 244);
    --header-title-color: #797979;
    
    --footer-backgraund-color: #242424;
    --footer-text-information-color: #ffffff;

    --menu-backgraund-color: gray;
    --menu-name-color: #ffffff;
    --menu-transition-3s-color: #d4d527;

    /* Прокат авто в Івано-Франківську та Івано-Франківській області */
    --bloc1-color: fff;
    --block1-font-size: 41px;
    --block1-font-weight: 600;
    --block1-font-family: "Roboto", Sans-serif;

    /* Оформлення документів до 5 хвилин Найбільший вибір автомобілів у Івано-ФранківськуКлієнтська підтримка 24/7 */
    --block1-advantages-font-family: "Roboto", Sans-serif;
    --block1-advantages-font-size: 21px;
    --block1-advantages-font-weight: 300;

    --block1-button-font-family: "Roboto", Sans-serif;
    --block1-button-font-size: 23px;
    --block1-button-font-weight: 400;
    --block1-button-background-color: #02c39a;
    --block1-button-box-shadow: 0px 0px 5px 0px #02c39a;
    --block1-button-padding: 13px 17px 14px;
    --block1-button-text-color: #fff;
     
    /* Авто парк */
    --block2-CarPark-width: 1120px;
    --block2-CarPark-height: 1179.380px;
    --block2-CarPark-NameCar-text-color: #000000;
    --block2-CarPark-NameCar-text-font-size: 21px;
    --block2-CarPark-NameCar-text-font-weight: bold;
    --block2-CarPark-NameCar-text-ine-height: 1.6em;
    --block2-CarPark-NameCar-text-mix-blend-mode: multiply;
    /* Головна Автопарк тип палива */
    --block2-CarPark-NameCar-fuel-font-size-font-weight-line-height-letter-spacing: 15px 500 1em 0px;
    /* Головна Автопарк об'єм */
    --block2-CarPark-NameCar-volume-font-size-font-weight-line-height-letter-spacing: 15px 500 1em 0px;
    /* Головна Автопарк коробка передач */
    --blck2-CarPark-NameCar-transmission-font-size-font-weight-line-height-letter-spacing: 15px 500 1em 0px;
    /* Головна Автопарк кнопка ціна */
    --block2-CarPark-NameCar-button-price-padding: 15px;
    --block2-CarPark-NameCar-button-price-background-color: #14263d;
    --block2-CarPark-NameCar-button-price-border-radius: 5px;
    --block2-CarPark-NameCar-button-price-transition-backgraund-color: yellow .3s;
    --block2-CarPark-NameCar-button-price-text-color: #ffffff;
    --block2-CarPArk-NameCAr-button-price-font-size: 29px;
    --block2-CarPArk-NameCAr-button-price-line-height: inherit;
    --block2-CarPArk-NameCar-button-price-font-femely: "Roboto", Sans-serif;
    --block2-CarPArk-NameCar-button-price-width: 177.6;
    --block2-CarPArk-NameCar-button-price-height: 34;

}
